<!DOCTYPE html>
<html lang="en">

<!-- 
  HoI4 Mod Icon Search by Yard1
  All text prefixed with @ is dynamic and will be replaced by hoi4_icon_search_gen.py
  Inspired by https://wyandotte.github.io/hoi4-icon-search/
  Search icon from https://feathericons.com/
  Uses Skeleton CSS from https://github.com/dhg/Skeleton under MIT license -->

<head>
  <meta charset="utf-8">
  <title>@TITLE</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" href=".github-pages/css/custom.css">

  <link rel="icon" href="@FAVICON">
</head>

<body>
  <div class="container">
    <section class="header">
      <h2 class="title">@TITLE</h1>
    </section>
    <div id="app">
      <div class="topbar">
        <div class="search-bar">
          <input type="text" id="searchInput" onkeyup="searchIcons()" placeholder="Search for icons..">
        </div>
        <label class="toggle-button">
          <input id="goals-toggle" type="checkbox" onclick="toggleIcons('goals-toggle')" checked>
          <span class="button button-primary toggle-button-span">Focuses</span>
        </label>
        <label class="toggle-button">
          <input id="ideas-toggle" type="checkbox" onclick="toggleIcons('ideas-toggle')" checked>
          <span class="button button-primary toggle-button-span">Ideas</span>
        </label>
      </div>
      <div id="goalsSection" class="docs-section">
        <h6 class="docs-header">National focuses (@GOALS_NUM)</h6>
        <div class="icon-container flex flex-wrap justify-left mt-3">@GOALS_ICONS</div>
      </div>
      <div id="ideasSection" class="docs-section">
        <h6 class="docs-header">Ideas (@IDEAS_NUM)</h6>
        <div class="icon-container flex flex-wrap justify-left mt-3">@IDEAS_ICONS</div>
      </div>
    </div>
  </div>
</body>
<script src=".github-pages/js/searchIcons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
<script>
  var icon = document.getElementsByClassName('icon');
  var clipboard = new ClipboardJS(icon);
</script>

</html>