<!DOCTYPE html>
<html lang="en">

<!-- 
  HoI4 Mod Icon Search by Yard1
  All text prefixed with @ is dynamic and will be replaced by hoi4_icon_search_gen.py
  Inspired by https://wyandotte.github.io/hoi4-icon-search/
  Search icon from https://feathericons.com/
  Uses Skeleton CSS from https://github.com/dhg/Skeleton under MIT license -->

<head>
  <meta charset="utf-8">
  <title>@TITLE</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <style>
    body {
      font-family: "Raleway", sans-serif;
    }

    .header {
      margin-top: 2rem;
      text-align: center;
    }

    .flex-wrap {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    .flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }

    .mx-auto {
      margin-left: auto;
      margin-right: auto;
    }

    .container {
      max-width: 1200px;
    }

    .docs-header {
      text-transform: uppercase;
      font-size: 1.4rem;
      letter-spacing: 0.2rem;
      font-weight: 600;
    }

    .docs-section {
      border-top: 1px solid #eee;
      padding: 4rem 0;
      margin-bottom: 0;
    }

    img {
      max-width: 100%;
      border-style: solid;
      border-style: none;
      margin: 0 auto;
    }

    *,
    :after,
    :before {
      border: 0 solid #dae1e7;
    }

    *,
    :after,
    :before {
      -webkit-box-sizing: inherit;
      box-sizing: inherit;
    }

    .icon {
      margin-bottom: 1rem;
      margin-left: 1rem;
      padding: 1rem;
      background-color: #f1f5f8;
      border-radius: 0.25rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-align: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 110px;
    }

    #searchInput {
      background-image: url("images/search.svg");
      background-size: 21px;
      background-position: 6px 7px;
      background-repeat: no-repeat;
      width: 100%;
      font-size: 16px;
      padding: 12px 20px 12px 40px;
      border: 1px solid #ddd;
      margin-bottom: 12px;
    }

    .icon-container {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    .icon-container div {
      border: 1px solid #ddd;
      margin-top: -1px;
      background-color: #f6f6f6;
      padding: 12px;
      text-decoration: none;
      font-size: 18px;
      color: black;
      display: block;
    }

    .icon-container div:hover:not(.header) {
      background-color: #eee;
    }

    .toggle-button input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    input:checked+.button.button-primary.toggle-button-span {
      color: #fff;
      background-color: #1eaedb;
      border-color: #1eaedb;
      text-transform: uppercase;
    }

    input:checked+.button.button-primary.toggle-button-span:hover {
      color: #fff;
      background-color: #33c3f0;
      border-color: #33c3f0;
    }

    input:checked+.button.button-primary.toggle-button-span:focus {
      color: #fff;
      background-color: #33c3f0;
      border-color: #33c3f0;
    }

    .topbar {
      display: table;
      width: 100%;
    }

    .search-bar,
    .toggle-button {
      display: table-cell;
      vertical-align: middle;
      width: auto;
    }

    .search-bar {
      width: 90%;
    }

    .toggle-button {
      white-space: nowrap;
      padding: 2px;
    }
  </style>

  <link rel="icon" href="@FAVICON">
</head>

<body>
  <div class="container">
    <section class="header">
      <h2 class="title">@TITLE</h1>
    </section>
    <div id="app">
      <div class="topbar">
        <div class="search-bar">
          <input type="text" id="searchInput" onkeyup="searchIcons()" placeholder="Search for icons..">
        </div>
        <label class="toggle-button">
          <input id="goals-toggle" type="checkbox" onclick="toggleIcons('goals-toggle')" checked>
          <span class="button button-primary toggle-button-span">Focuses</span>
        </label>
        <label class="toggle-button">
          <input id="ideas-toggle" type="checkbox" onclick="toggleIcons('ideas-toggle')" checked>
          <span class="button button-primary toggle-button-span">Ideas</span>
        </label>
      </div>
      <div id="goalsSection" class="docs-section">
        <h6 class="docs-header">National focuses (@GOALS_NUM)</h6>
        <div class="icon-container flex flex-wrap justify-left mt-3">@GOALS_ICONS</div>
      </div>
      <div id="ideasSection" class="docs-section">
        <h6 class="docs-header">Ideas (@IDEAS_NUM)</h6>
        <div class="icon-container flex flex-wrap justify-left mt-3">@IDEAS_ICONS</div>
      </div>
    </div>
  </div>
</body>
<script>
  // HoI4 Mod Icon Search by Yard1 
  // Based on code from https://www.w3schools.com/

  function searchIcons() {
    var input, filter, div, i, txtValue;
    input = document.getElementById('searchInput');
    filter = input.value.toUpperCase();
    div = document.getElementsByClassName("icon");

    for (i = 0; i < div.length; i++) {
      txtValue = div[i].getAttribute("title");
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        div[i].style.display = "";
      } else {
        div[i].style.display = "none";
      }
    }
  }

  function toggleIcons(id) {
    var checkBox = document.getElementById(id);
    var elementToHide;
    if (id === 'ideas-toggle') {
      elementToHide = document.getElementById('ideasSection');
    } else {
      elementToHide = document.getElementById('goalsSection');
    }

    if (checkBox.checked == true) {
      elementToHide.style.display = "block";
    } else {
      elementToHide.style.display = "none";
    }
  }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
<script>
  var icon = document.getElementsByClassName('icon');
  var clipboard = new ClipboardJS(icon);
</script>

</html>