l_english:

### PARTIES ###
# TAG_democratic_party:0 "Harmony Party Name"
# TAG_democratic_party_long:0 "Harmony Long Party Name"
# TAG_communism_party:0 "Communist Party Name"
# TAG_communism_party_long:0 "Communist Long Party Name"
# TAG_fascism_party:0 "Supremacy Party Name"
# TAG_fascism_party_long:0 "Supremacy Long Party Name"
# TAG_neutrality_party:0 "Non-Aligned Party Name"
# TAG_neutrality_party_long:0 "Non-Aligned Long Party Name"

#### FOCUS

# TAG_example_focus:0 "Focus Title"
# TAG_example_focus_desc:0 "Focus Description"

#### DECISIONS & DECISION CATEGORIES

# TAG_example_decision_category:0 "Decision Category Name"
# TAG_example_decision_category_desc:0 "Decision Category Description"
# TAG_example_decision:0 "Decision Name"
# TAG_example_decision_desc:0 "Decision Description"

#### BALANCE OF POWER

# TAG_example_bop:0 "Balance Of Power Name"

# TAG_example_bop_left_side:0 "Balance Of Power Left Side Name"
# TAG_example_bop_left_side_point:0 "Balance Of Power Left Side Point"
# TAG_example_bop_middle_point:0 "Balance Of Power Middle Point"
# TAG_example_bop_right side_point:0 "Balance Of Power Right Side Point"
# TAG_example_bop_right_side:0 "Balance Of Power Right Side Name"

# TAG_example_bop_decision:0 "Balance Of Power Decision Name"
# TAG_example_bop_decision_desc:0 "Balance Of Power Decision Description"

# TAG_example_bop_static_modifier:0 "Balance Of Power Static Modifier"

#### IDEAS & ADVISORS & DESIGN COMPANIES

# TAG_example_national_spirit:0 "National Spirit Name"
# TAG_example_national_spirit_desc:0 "National Spirit Description"

# TAG_example_dynamic_modifier:0 "Dynamic Modifier Name"
# TAG_example_dynamic_modifier_desc:0 "Dynamic Modifier Description"

# TAG_example_advisor_1:0 "Advisor Name"
# TAG_example_advisor_2:0 "Advisor Name"
# TAG_example_advisor_3:0 "Advisor Name"
# TAG_example_advisor_4:0 "Advisor Name"
# TAG_example_advisor_5:0 "Advisor Name"
# TAG_example_advisor_6:0 "Advisor Name"
# TAG_example_theorist_1:0 "Theorist Name"
# TAG_example_theorist_2:0 "Theorist Name"
# TAG_example_army_chief:0 "Army Chief Name"
# TAG_example_navy_chief:0 "Navy Chief Name"
# TAG_example_air_chief:0 "Air Chief Name"
# TAG_example_high_command_1:0 "High Command Name"
# TAG_example_high_command_2:0 "High Command Name"
# TAG_example_high_command_3:0 "High Command Name"

# TAG_example_tank_MIO:0 "Tank MIO Name"
# TAG_example_naval_MIO:0 "Navy MIO Name"
# TAG_example_airplane_MIO:0 "Airplane MIO Name"
# TAG_example_infantry_weapon_MIO:0 "Infantry Weapons MIO Name"
# TAG_example_motorised_weapon_MIO:0 "Motorised MIO Name"
# TAG_example_industrial_concern:0 "Industrial Concern Name"
# TAG_example_electronic_concern:0 "Electronic Concern Name"

#### TOOLTIPS

# TAG_example_custom_tooltip_tt:0 "Custom Tooltip Text"

#### COUNTRY FLAGS & COSMETIC TAGS & MISC

# TAG_example_cosmetic_tag_neutrality:0 "Cosmetic Tag Country Name"
# TAG_example_cosmetic_tag_neutrality_DEF:0 "the Cosmetic Tag Country Name"
# TAG_example_cosmetic_tag_neutrality_ADJ:0 "Cosmetic Tag Adjective"
# TAG_example_cosmetic_tag_communism:0 "Cosmetic Tag Country Name"
# TAG_example_cosmetic_tag_communism_DEF:0 "the Cosmetic Tag Country Name"
# TAG_example_cosmetic_tag_communism_ADJ:0 "Cosmetic Tag Adjective"
# TAG_example_cosmetic_tag_democratic:0 "Cosmetic Tag Country Name"
# TAG_example_cosmetic_tag_democratic_DEF:0 "the Cosmetic Tag Country Name"
# TAG_example_cosmetic_tag_democratic_ADJ:0 "Cosmetic Tag Adjective"
# TAG_example_cosmetic_tag_fascism:0 "Cosmetic Tag Country Name"
# TAG_example_cosmetic_tag_fascism_DEF:0 "the Cosmetic Tag Country Name"
# TAG_example_cosmetic_tag_fascism_ADJ:0 "Cosmetic Tag Adjective"

# TAG_example_country_flag:0 "Country Flag Localization"

# TAG_example_victory_point:0 "Victory Point Name"

# TAG_example_faction_name:0 "Faction Name"

# TAG_example_technology_name_tech:0 "Technology Name"
# TAG_example_unit_name:0 "Unit Name"
# TAG_example_unit_name_desc:0 "Unit Description"

#### TRAITS

# TAG_example_country_leader_trait:0 "Country Leader Trait Name"

# TAG_example_corps_commander_trait:0 "Corps Commander Trait Name"
# TAG_example_corps_commander_trait_desc:0 "Corps Commander Trait Description"

#### LEADERS & CORPS COMMANDERS & DESCRIPTIONS

# TAG_example_country_leader:0 "Country Leader Name"
# TAG_example_corps_commander:0 "Corps Commander Name"

# TAG_example_country_leader_desc:0 "§YBorn§!: 1st of January, 1007 in City Name\n\n§YBiography§!: Country Leader Description\n\n§YPortrait By§!: Artist Name"
# TAG_example_corps_commander_desc:0 "§YBorn§!: 1st of January, 1007 in City Name\n\n§YBiography§!: Corps Commander Description\n\n§YPortrait By§!: Artist Name"

#### EVENTS

# tag.1.t:0 "Event Name"
# tag.1.d:0 "Event Text"
# tag.1.a:0 "Event Option A"
# tag.1.b:0 "Event Option B"


# tag_news.1.t:0 "News Event Name"
# tag_news.1.d:0 "[This.GetNewspaperHeader]News Event Text"
# tag_news.1.a:0 "News Event Option A"
# tag_news.1.b:0 "News Event Option B"