body {
  font-family: "Raleway", sans-serif;
}

.header {
  margin-top: 2rem;
  text-align: center;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 1200px;
}

.docs-header {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
}
.docs-section {
  border-top: 1px solid #eee;
  padding: 4rem 0;
  margin-bottom: 0;
}

img {
  max-width: 100%;
  border-style: solid;
  border-style: none;
  margin: 0 auto;
}
*,
:after,
:before {
  border: 0 solid #dae1e7;
}
*,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.icon {
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding: 1rem;
  background-color: #f1f5f8;
  border-radius: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 110px;
}

#searchInput {
  background-image: url("search.svg"); /* Add a search icon to input */
  background-size: 21px;
  background-position: 6px 7px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%;
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

.icon-container {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.icon-container div {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

.icon-container div:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

.toggle-button input {
  opacity: 0;
  width: 0;
  height: 0;
}

input:checked + .button.button-primary.toggle-button-span {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb;
  text-transform: uppercase;
}

input:checked + .button.button-primary.toggle-button-span:hover {
  color: #fff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}

input:checked + .button.button-primary.toggle-button-span:focus {
  color: #fff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}

.topbar {
  display: table;
  width: 100%;
}
.search-bar, .toggle-button {
  display: table-cell;
  vertical-align: middle;
  width: auto;
}
.search-bar {
  width: 90%;
}

.toggle-button {
  white-space: nowrap;
  padding:2px;
}